body {
  background-color: #1e252d;
  font: Helvetica-Neue;
}

/* NAVBAR STYLES */

.navbar-brand>img {
  height: 55px;
  padding: 15px;
  width: auto;
}

.navbar-toggler {
  border: none;
  float: right;
  margin-top: 10px;
}

.main-nav {
  float: none;
  vertical-align: top;
}

.digax-navbar {
  background-color: #1e252d;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* HEADER STYLES */

.title-header {
  overflow: hidden;
}

.title-text {
  width: 50%;
  max-width: 500px;
  padding-left: 85px;
  display: inline-block;
  margin-top: 140px;
}

.digax-title-first {
  color: #ffc743;
  font-size: 0.813em;
  letter-spacing: 5px;
  display: inline-block;
  text-transform: uppercase;
  padding-top: 80px;
}

.digax-title-second {
  font-size: 4.375em;
  color: #ffffff;
}

.product-button {
  margin-top: 20px;
  margin-left: 85px;
}

.staff-button {
  margin-top: 20px;
  margin-left: 10px;
}

.modal-title {
  float: left;
}

.modal-body, .modal-footer {
  background-color: #1e252d;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

/* FEATURES STYLES */

.features-section {
  height: 110%;
  overflow: hidden;
  margin-top: 120px;
  color: #ffffff;
  padding-bottom: 30px;
  padding-top: 40px;
}

.features-title {
  font-size: 2.15em;
  color: #ffffff;
  text-align: center;
}

.feature-details {
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 20px;
}

.feature-subheadings {
  font-size: 26px;
  margin-top: 26px;
  margin-bottom: 26px;
}

.feature-icon {
  font-size: 12px;
  display: inline-block;
  margin-right: 7px;
  margin-top: 30px;
}

.feature-icon>img {
  height: 43px;
}

/* TEAM STYLES */

.staff-section {
  height: 110%;
  overflow: hidden;
  color: #ffffff;
}

.staff-title {
  font-size: 2.15em;
  text-align: center;
  margin-top: 20px;
}

.advisor-profile  {
  height: 100%;
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}

.advisor-profile-text  {
  padding: 10px; 
  line-height: 35px;
  padding-right: 10px;
}

.advisor-profile-text-detail  {
  color: #ffc843;
  font-size: 14px;
  display: inline-block;
  text-align: left;
}

.staff-profile  {
  height: 100%;
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}

.staff-profile-text  {
  padding: 10px; 
  line-height: 35px;
  padding-right: 10px;
}

.staff-profile-text-detail  {
  color: #ffc843;
  font-size: 14px;
  display: inline-block;
  text-align: left;
}

.social-linkedin {
  float: right;
  margin-bottom: 0px;
  line-height: 0px;
  margin-right: 0px;
}

.social-twitter {
  position: relative;
  float: right;
  margin-right: 30px;
  line-height: 0px;
  margin-bottom: 0px;
}

.profile-img {
  border-radius: 120px;
  background: #2a2e37;
  height: 150px;
  float: left;
  margin-right: 38px;
  margin-bottom: 38px;
}

.profile-title {
  font-size: 26px;
  color: #ffffff;
}

.profile-text {
  font-size: 14px;
  color: #ffffff;
}


.ion-social-twitter,
.ion-social-linkedin {
    -webkit-transition: color 0.2s;
    color: #888;
    transition: color 0.2s;
    font-size: 24px;
}

.ion-social-linkedin:hover {
    color: #0077b5;
}

.ion-social-twitter:hover {
    color: #0084b4;
}

/* ACCOUNT CREATION STYLES */

.account-create {
  background-color: #ffc743;
  width: 100%;
  height: 363px;
  overflow: hidden;
}

.account-create-text {
  max-width: 700px;
  padding-left: 85px;
  display: inline-block;
  margin-top: 30px;
}

.account-create-text-content {
  margin-top: 50px;
  font-size: 4.375em;
  color: #1f252e;
  line-height: 90px;
}

/* FOOTER */

.digax-footer {
  height: 300px;
  color: #ffffff;
  list-style-type: none;
  line-height: 50px;
}

.footer-logo {
  margin-top: 100px;
  font-size: 15px;
  display: inline-block;
  color: #ffffff;
  margin-right: 5px;
}

.footer-logo>img {
  width: 120px;
  margin-bottom: 20px;
}

.footer-col-headings {
  color: #ffc743;
  font-size: 0.813em;
  letter-spacing: 5px;
  display: inline-block;
  text-transform: uppercase;
  padding-top: 20px;
}